fastapi
pydantic-settings
email-validator
uvicorn[standard]
gunicorn
python-dotenv
python-multipart
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
Pillow
bcrypt==3.2.0
slowapi
requests
cryptography
boto3
cloudinary
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
