fastapi
pydantic-settings
email-validator
uvicorn[standard]
gunicorn
python-dotenv
python-multipart
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
cloudinary
Pillow
bcrypt==3.2.0
slowapi
